<<<<<<< HEAD
body {
	color:black;
    font-family: Verdana;
    font-size: 16px;
    background-color: dimgrey; 
    padding: 3px;
}

#heading {
	font-family: "Trebuchet MS", Verdana, sans-serif;
    font-size: 16px;
    background-color: white; 
    color: #696969;
    padding: 3px;
}
.gradientBoxesWithOuterShadows { 
height: auto;
width: %75; 
padding: 20px;
margin : auto;
background-color: white; 

/* outer shadows  (note the rgba is red, green, blue, alpha) */
-webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4); 
-moz-box-shadow: 0px 1px 6px rgba(23, 69, 88, .5);

/* rounded corners */
-webkit-border-radius: 12px;
-moz-border-radius: 7px; 
border-radius: 7px;

/* gradients */
background: -webkit-gradient(linear, left top, left bottom, 
color-stop(0%, white), color-stop(15%, white), color-stop(100%, #D7E9F5)); 
background: -moz-linear-gradient(top, white 0%, white 55%, #D5E4F3 130%); 
}
#main {
    padding: 5px;
    padding-left:  15px;
    padding-right: 15px;
    background-color: #ffffff;
    border-radius: 5px 5px 5px 5px;
}
#main fieldset legend{
	color:black;
}
#main fieldset p{
	color:black;
}
#main form fieldset div label{
	color:black;
} 
#main form fieldset div input{
	color:black;
} 

a#menu {
	background-color: orange;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    border-radius: 4px 4px 4px 4px;
}

h1 {
    font-family: Georgia, serif;
    border-bottom: 3px solid #cc9900;
    color: black;
    font-size: 30px;
}

table {
	width:70%;
}

table, th, td {
	border: 1px solid grey;
	border-collapse:collapse;
	padding:5px;
}

th{
	text-align:left;
}

table tr:nth-child(odd) {
	background-color: #f1f1f1;
}

table tr: nth-child(even){
	background-color:#ffffff;
}

ul#menu {
    padding: 0;
    margin-bottom: 11px;
}

ul#menu li {
    display: inline;
    margin-right: 3px;
}

ul#menu li a {
    background-color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    color: #696969;
    border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    color: black;
    background-color: orange;
}

=======
body {
	color:black;
    font-family: Verdana;
    font-size: 16px;
    background-color: dimgrey; 
    padding: 3px;
}

#heading {
	font-family: "Trebuchet MS", Verdana, sans-serif;
    font-size: 16px;
    background-color: white; 
    color: #696969;
    padding: 3px;
}
.gradientBoxesWithOuterShadows { 
height: auto;
width: %75; 
padding: 20px;
margin : auto;
background-color: white; 

/* outer shadows  (note the rgba is red, green, blue, alpha) */
-webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4); 
-moz-box-shadow: 0px 1px 6px rgba(23, 69, 88, .5);

/* rounded corners */
-webkit-border-radius: 12px;
-moz-border-radius: 7px; 
border-radius: 7px;

/* gradients */
background: -webkit-gradient(linear, left top, left bottom, 
color-stop(0%, white), color-stop(15%, white), color-stop(100%, #D7E9F5)); 
background: -moz-linear-gradient(top, white 0%, white 55%, #D5E4F3 130%); 
}
#main {
    padding: 5px;
    padding-left:  15px;
    padding-right: 15px;
    background-color: #ffffff;
    border-radius: 5px 5px 5px 5px;
}
#main fieldset legend{
	color:black;
}
#main fieldset p{
	color:black;
}
#main form fieldset div label{
	color:black;
} 
#main form fieldset div input{
	color:black;
} 

a#menu {
	background-color: orange;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    border-radius: 4px 4px 4px 4px;
}

h1 {
    font-family: Georgia, serif;
    border-bottom: 3px solid #cc9900;
    color: black;
    font-size: 30px;
}

table {
	width:70%;
}

table, th, td {
	border: 1px solid grey;
	border-collapse:collapse;
	padding:5px;
}

th{
	text-align:left;
}

table tr:nth-child(odd) {
	background-color: #f1f1f1;
}

table tr: nth-child(even){
	background-color:#ffffff;
}

ul#menu {
    padding: 0;
    margin-bottom: 11px;
}

ul#menu li {
    display: inline;
    margin-right: 3px;
}

ul#menu li a {
    background-color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    color: #696969;
    border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    color: black;
    background-color: orange;
}

>>>>>>> 8927d3a5820a3759f63790e8aae048ca16377966
